Client/Client/Connected Services/Proxy1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveMade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldCoord_X" type="xs:int" />
        <xs:element minOccurs="0" name="oldCoord_Y" type="xs:int" />
        <xs:element minOccurs="0" name="newCoord_X" type="xs:int" />
        <xs:element minOccurs="0" name="newCoord_Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldCoord_X" type="xs:int" />
        <xs:element minOccurs="0" name="oldCoord_Y" type="xs:int" />
        <xs:element minOccurs="0" name="newCoord_X" type="xs:int" />
        <xs:element minOccurs="0" name="newCoord_Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>